body {
    position: absolute;
}
.button-group-vertical {
    position: absolute;
    top: 117px;
    left:25%;
}
.button-group-vertical button {
    display: flex;             
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 20px 0;
    cursor: pointer;
    font-size: 14px;
    border: 2px solid #000;
    text-decoration: none;
}
.button-group-horizontal {
    position: absolute;
    display: flex;
    top: 440px;
    left:39%;
}
.button-group-horizontal button {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-right: 12px;
    height: 80px;
    width: 80px;
    padding: 20px 20px;
    cursor: pointer;
    font-size: 14px;
    border: 2px solid #000;
    text-decoration:none;
}
.square {
    stroke: black;
    stroke-width: 1px;
    fill: lightblue;
}
.container {
    stroke: none;
    fill: none;
}
.legend {
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.instruction-box {
    position: absolute;
    display: block;
    top: 540px;
    left: 20%;
    width: auto;
    padding: 10px;
    font-size: 14px;
    text-align: center;
}